astroalign==2.6.2
astropy==8.0.1
astropy-iers-data==0.2026.8.3.0.53.6
certifi==2026.7.22
ImageIO==2.37.4
jplephem==2.24
lazy-loader==0.5
networkx==3.6.1
numpy==2.5.1
packaging==26.2
pillow==12.3.0
pyerfa==2.0.1.5
PyYAML==6.0.3
rawpy==0.27.0
scikit-image==0.26.0
scipy==1.18.0
sep==1.4.1
sgp4==2.27
skyfield==1.54
tifffile==2026.7.31
